  <!-- Site footer -->
  <footer class="site-footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3">
          <h6><i class="fas fa-address-card"></i> About</h6>
          <p class="text-justify">
            Freelancer in software engineering, experienced with a mastery of Java/JEE, Python/Django and
            Typescript/Angular/NodeJs platforms.
            Able to work independently or cooperatively for the implementation of innovative digital solutions, Web
            services, applications and carry out effective projects.
            Innovative use of Frameworks and libraries to create professional applications as much as expected and
            satisfy the customer requirements and needs.
          </p>
          <ul class="social-icons text-center">
            <li><a class="linkedin" href="https://www.linkedin.com/in/haytham-dahri/" target="_blank"><i
                  class="fab fa-linkedin-in"></i></a></li>
            <li><a class="facebook" href="https://www.facebook.com/Haytham.dahri" target="_blank"><i
                  class="fab fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/haythamdahri" target="_blank"><i
                  class="fab fa-twitter-square"></i></a></li>
            <li><a class="dribbble" href="#" target="_blank"><i class="fab fa-dribbble-square"></i></a></li>
          </ul>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3">
          <h6><i class="fas fa-portrait"></i> Skills</h6>
          <ul class="footer-links">
            <li><a href="https://www.oracle.com/index.html">JAVA</a></li>
            <li><a href="https://www.python.org/">PYTHON</a></li>
            <li><a href="https://www.javascript.com/">JAVASCRIPT</a></li>
            <li><a href="https://angular.io/">ANGULAR FRAMEWORK</a></li>
            <li><a href="https://www.djangoproject.com/">DJANGO FRAMEWORK</a></li>
            <li><a href="https://spring.io/projects/spring-boot">SPRING BOOT FRAMEWORK</a></li>
            <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by
              <a href="https://www.linkedin.com/in/haytham-dahri/" target="_blank">HAYTHAM DAHRI</a>.
            </p>
          </ul>
        </div>
      </div>
    </div>
  </footer>